.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

.button {
  padding: 5% 10%;
  font-family: 'Montserrat';
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  width: 110px;
}