* {
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
}

:root {
  /* Colors */
  --color-kle-50: #ffffff;
  --color-kle-100: #aa33b5;
  --color-kle-200: #920000;
  --color-kle-300: #646464;
  --color-kle-400: #13152a;
  --color-kle-500: #000000;
  --color-star-50: #707736;
}