@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
}

body {
  background-color: var(--color-kle-400);
  font-family: montserrat;
  color: var(--color-kle-50)
}

:root {
  /* Colors */
  --color-kle-50: #ffffff;
  --color-kle-100: #aa33b5;
  --color-kle-200: #920000;
  --color-kle-300: #646464;
  --color-kle-400: #13152a;
  --color-kle-500: #000000;
  --color-star-50: #edf74e;
}
